<br>
  <div style="background: url(assets/img/limpio1.jpg)">
<br><br><br><br><br><br><br><br>
<!-- por alguna razon añadir cualquier otra caracteristica al "style=background" se pitea el background profe-->
      <div class="bg-primary text-white" align="center">
        <h1>PROBLEMAS DE LIMPEZA?</h1>
        <h3>Aquí se los solucionamos</h3>
      </div>
      <br>
      <a routerLink="/about" class="btn btn-primary">Conózcanos</a>
      <br><br><br><br><br><br><br>
</div>
  <br>
  <h5>{{inicio}}</h5>
