<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">pronto</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="container main-container">
      <br>
      <router-outlet></router-outlet>
      <br>
    </div>
</div>
<br>
<footer class="py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Propiedad de limpioXTi, ningun derecho reservado</p>
  </div>
</footer>
