<h1>Ofrecemos limpieza de:</h1>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cuartos de cocina</h5>
        <img style="width:auto;height:150px;" src="{{cocina}}" class="card-img-top" alt="living">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/contact" class="btn btn-primary">Cotize ahora</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Livings</h5>
        <img style="width:auto;height:150px;" src="{{living}}" class="card-img-top" alt="living">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/contact" class="btn btn-primary">Cotize ahora</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Comedores</h5>
        <img style="width:auto;height:150px;" src="{{comedor}}" class="card-img-top" alt="living">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/contact" class="btn btn-primary">Cotize ahora</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dormitorios</h5>
        <img style="width:auto;height:150px;" src="{{dormitorio}}" class="card-img-top" alt="living">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/contact" class="btn btn-primary">Cotize ahora</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cuartos de lavado</h5>
        <img style="width:auto;height:150px;" src="{{cuartoDeLavado}}" class="card-img-top" alt="living">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/contact" class="btn btn-primary">Cotize ahora</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cuartos de baño</h5>
        <img style="width:auto;height:150px;" src="{{banios}}" class="card-img-top" alt="living">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/contact" class="btn btn-primary">Cotize ahora</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<h2>Además de ofertas de limpieza para varias de habitaciones</h2>
<br><br>
<a routerLink="/contact" class="btn btn-primary">Cotize ahora</a>
